{% include base_path %}

{% if post.header.teaser %}
  {% capture teaser %}{{ post.header.teaser }}{% endcapture %}
{% else %}
  {% assign teaser = site.teaser %}
{% endif %}

{% if post.id %}
  {% assign title = post.title | markdownify | remove: "<p>" | remove: "</p>" %}
{% else %}
  {% assign title = post.title %}
{% endif %}

<div class="{{ include.type | default: "list" }}__item">
  <article class="archive__item" itemscope itemtype="http://schema.org/CreativeWork">
    <h2 class="archive__item-title" itemprop="headline">
      {% if post.link %}
        <a href="{{ post.link }}">{{ title }}</a> <a href="{{ base_path }}{{ post.url }}" rel="permalink"><i class="fa fa-link" aria-hidden="true" title="permalink"></i><span class="sr-only">Permalink</span></a>
      {% else %}
        <a href="{{ base_path }}{{ post.url }}" rel="permalink">{{ title }}</a>
      {% endif %}
    </h2>
    
    {% if post.read_time %}
      <p class="page__meta"><i class="fa fa-clock" aria-hidden="true"></i> {% include read-time.html %}</p>
    {% endif %}

    {% if post.collection == 'teaching' %}
      <p> 
        {% if post.code %}<strong>{{ post.code }}</strong> - {% endif %}
        {{ post.type }}, <i>{{ post.venue }}</i>, {{ post.date | default: "1900-01-01" | date: "%Y" }}
      </p>
    {% elsif post.collection == 'publications' %}
      <p>Published in <i>{{ post.venue }}</i>, {{ post.date | default: "1900-01-01" | date: "%Y" }}{% if post.award %} <strong>({{ post.award }})</strong>{% endif %}</p>
      {% if post.authors %}
        <p class="publication-authors">
          {% assign authors_list = post.authors | split: ", " %}
          {% for author in authors_list %}
            {% assign author_lower = author | downcase %}
            {% assign is_tao_liu = false %}
            {% if author_lower contains "tao liu" or author_lower contains "liu tao" %}
              {% assign is_tao_liu = true %}
            {% endif %}
            {% assign author_index = forloop.index0 %}
            {% if post.author_role == "first-author-cofirst" %}
              {% if is_tao_liu %}
                <u><strong>{{ author }}</strong></u>{% unless forloop.last %}, {% endunless %}
              {% elsif author_index == 1 %}
                <u>{{ author }}</u>{% unless forloop.last %}, {% endunless %}
              {% else %}
                {{ author }}{% unless forloop.last %}, {% endunless %}
              {% endif %}
            {% elsif post.author_role == "cofirst" %}
              {% if author_index == 0 %}
                <u>{{ author }}</u>{% unless forloop.last %}, {% endunless %}
              {% elsif is_tao_liu %}
                <u><strong>{{ author }}</strong></u>{% unless forloop.last %}, {% endunless %}
              {% else %}
                {{ author }}{% unless forloop.last %}, {% endunless %}
              {% endif %}
            {% elsif post.author_role == "supervisor-first-second-author" %}
              {% if is_tao_liu %}
                <strong>{{ author }}</strong>{% unless forloop.last %}, {% endunless %}
              {% else %}
                {{ author }}{% unless forloop.last %}, {% endunless %}
              {% endif %}
            {% else %}
              {% if is_tao_liu %}
                <strong>{{ author }}</strong>{% unless forloop.last %}, {% endunless %}
              {% else %}
                {{ author }}{% unless forloop.last %}, {% endunless %}
              {% endif %}
            {% endif %}
          {% endfor %}
        </p>
      {% endif %}
    {% elsif post.date %}
     <p class="page__date"><strong><i class="fa fa-fw fa-calendar" aria-hidden="true"></i> {{ site.data.ui-text[site.locale].date_label | default: "Published:" }}</strong> <time datetime="{{ post.date | default: "1900-01-01" | date_to_xmlschema }}">{{ post.date | default: "1900-01-01" | date: "%B %d, %Y" }}</time></p>
    {% endif %}

    <div class="archive__item-body">
      {% if teaser %}
        {% if include.type == "grid" or post.collection == 'publications' %}
          <div class="archive__item-teaser">
            <img src=
              {% if teaser contains "://" %}
                "{{ teaser }}"
              {% else %}
                "{{ teaser | prepend: "/images/" | prepend: base_path }}"
              {% endif %}
              alt="{{ post.title }}">
          </div>
        {% endif %}
      {% endif %}

      <div class="archive__item-content">
        {% if post.excerpt and site.read_more != 'enabled' %}
        <p class="archive__item-excerpt" itemprop="description">{{ post.excerpt | markdownify }}</p>
        {% elsif post.excerpt and site.read_more == 'enabled' %}
        <p class="archive__item-excerpt" itemprop="description"><p>{{ post.excerpt | markdownify | remove: '<p>' | remove: '</p>' }}<strong><a href="{{ base_path }}{{ post.url }}" rel="permalink"> Read more</a></strong></p></p>
        {% endif %}
        
        {% if post.paperurl and post.slidesurl and post.bibtexurl %}
          <p class="archive__item-links"><a href="{{ post.paperurl }}">Download Paper</a> | <a href="{{ post.slidesurl }}">Download Slides</a> | <a href="{{ post.bibtexurl }}">Download Bibtex</a></p>
        {% elsif post.paperurl and post.slidesurl %}
          <p class="archive__item-links"><a href="{{ post.paperurl }}">Download Paper</a> | <a href="{{ post.slidesurl }}">Download Slides</a></p>
        {% elsif post.paperurl and post.bibtexurl %}
          <p class="archive__item-links"><a href="{{ post.paperurl }}">Download Paper</a> | <a href="{{ post.bibtexurl }}">Download Bibtex</a></p>
        {% elsif post.paperurl %}
          <p class="archive__item-links"><a href="{{ post.paperurl }}">Download Paper</a></p>
        {% elsif post.slidesurl and post.bibtexurl %}
          <p class="archive__item-links"><a href="{{ post.slidesurl }}">Download Slides</a> | <a href="{{ post.bibtexurl }}">Download Bibtex</a></p>
        {% elsif post.slidesurl %}
          <p class="archive__item-links"><a href="{{ post.slidesurl }}">Download Slides</a></p>
        {% elsif post.bibtexurl %}
          <p class="archive__item-links"><a href="{{ post.bibtexurl }}">Download Bibtex</a></p>
        {% endif %}
      </div>
    </div>
  </article>
</div>
